body{
    background-image: url("JsSprity/01073865290819.5d61d475f0072.jpg");
    font-family: fantasy;
}

table, #table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    padding:0px; 
    border-width:0px;
}

img{
    width: 80px;
}

table{
    background-image: url("JsSprity/idk.png");
}

#winDiv{
    font-size: 64px;
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 189, 0);
}
#btn1{
    background-image: url("JsSprity/kindpng_791506.png");
}

button{
    border: none;
}



